<section id="login">
  <div class="row">
    <div class="col-lg-4 offset-md-4">
      <h5>request account</h5>
      <hr>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
        </div>
        
        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first name", class:"form-control" %>
        </div>
        
        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: true, autocomplete: "last name", class:"form-control" %>
        </div>
      
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
        </div>
      
        <div class="actions">
          <%= f.submit "sign up", class:"btn btn-primary btn-block", data: { :disable_with => "creating your account..." } %>
        </div>
      <% end %>
      
      <section id="shared-devise-links">
        <p>
          <a href="/login">login to existing account</a>
          <br />
          <a href="/retrieve/password">reset password</a>
        </p>
      </section>
    </div>
  </div>
</section>

