<style type="text/css">
    #main-body.container {
        padding: 0;
        margin: 0;
        max-width: 100%;
    }
</style>

<section id="project-<%= params[:name] %>" class="freelance-project">
    <section class="jumbotron" style="padding: 0; text-align: center;">
        <div style="width: 100%; height: 100%;
                background-image: url('/images/freelance/<%= params[:name] %>.png');
                background-size: cover; background-repeat: no-repeat;
                background-position: center center; filter: brightness(40%);"></div>
        <h1 class="font-white"
            style="position: absolute; margin-top: -175px; color: #fff;
                    z-index: 5; width: 100%;"><%= params[:name] %></h1>
    </section>
    
    <section class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="row">
                    <div class="col-md-12">
                        <%= sanitize @project_article.content %>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <hr>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <h5>Other projects</h5>
                        
                        <% ["senzzu", "driprent", "dinnerhost", "myrates"].each do |f| %>
                            <% if f != params[:name] %>
                                <p>
                                    <a href="/freelance/<%= f %>">
                                        <%= f %>
                                    </a>
                                </p>
                            <% end %>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>