<section id="projects">
    <div class="row">
        <div class="col-lg-3 offset-md-2">
            <div class="dropdown">
                <button class="btn btn-outline-primary btn-block" type="button"
                    id="categoryMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    categories <i class="fas fa-angle-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="categoryMenuButton">
                    <% ["coding", "research", "misc"].each do |cat| %>
                    <a class="dropdown-item" style="cursor: pointer;"
                        onclick="showContent(this);" id="nav-link-<%= cat %>">
                        <%= cat %>
                    </a>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-8 offset-md-2">
            <hr>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-8 offset-md-2">
            <section id="content-tab-coding" class="content-tab active">
                <%= render partial: "project/projects/projects", locals: { projects: @coding_projects } %>
            </section>
            
            <section id="content-tab-research" class="content-tab">
                <%= render partial: "project/projects/projects", locals: { projects: @research_projects } %>
            </section>
            
            <section id="content-tab-misc" class="content-tab">
                <%= render partial: "project/projects/projects", locals: { projects: @misc_projects } %>
            </section>
        </div>
    </div>
</section>

<script type="text/javascript">
    showContent = (elem) => {
        let id = elem.id.split('nav-link-')[1];
        $('.content-tab.active').toggleClass('active');
        $(`#content-tab-${id}`).toggleClass('active');
    }
</script>

<style type="text/css">
    .content-tab:not(.active) {
        display: none;
    }
</style>