<section id="<%= @project.slug %>" class="project-section">
    <div class="row">
        <div class="col-md-8">
            <h5>
                <b><%= @project.name %></b>
                <span class="badge badge-primary">
                    <%= @project.category %>
                </span>
            </h5>
            
            <hr>
            
            <section class="project-metadata">
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            <span style="float: left;">
                                by <%= @project.admin.full_name %>
                            </span>
                            
                            <span style="float: right;">
                                <a href="https://<%= @project.github %>" target="_blank">
                                    <i class="fab fa-github"></i> github
                                </a>
                                |
                                <a href="https://<%= @project.website %>" target="_blank">
                                    <i class="fas fa-link"></i> website
                                </a>
                            </span>
                        </p>
                    </div>
                </div>
            </section>
            
            <hr>
            
            <p>
                <h6>snapshot:</h6>
                <em><%= @project.summary %></em>
            </p>
            
            <article>
                <h6>walkthrough:</h6>
                <div>
                    <% if @project.featured_article.present? %>
                        <%= sanitize @project.featured_article.content %>
                    <% else %>
                        <p>the author hasn't added a walkthrough yet</p>
                    <% end %>
                </div>
            </article>
            
            <hr>
            
            <div id="project-tags">
                tagged in:
                <% @project.each_tag do |tag| %>
                    <a href="/project/tagged/<%= tag %>">
                        <%= tag %>
                    </a>
                <% end %>
            </div>
            
            <div id="project-share-buttons">
                <%= render partial: "shared/share_buttons", locals: { object: @project.name } %>
            </div>
            
            <hr>
            
            <div class="row">
                <div class="col-md-12">
                    <h5>thoughts on this (<%= @project.comments.count %>)</h5>
                    <section id="comments">
                        <%= render partial: "comments/comments", locals: { comments: @project.comments } %>
                    </section>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 related-posts-col">
            <h5>related projects:</h5>
            <hr>
            <div>
                <%= render partial: "project/projects/projects", locals: { projects: @related } %>
            </div>
        </div>
    </div>
</section>