<% if posts.present? %>
    <ul style="padding-inline-start: 15px;">
        <% posts.each do |poste| %>
            <li>
                <div style="margin-bottom: 20px;">
                    <h6 style="margin-bottom: 5px;">
                        <% if poste.is_pdf? %>
                            <%= link_to poste.title, pdfjs.full_path(file: "/pdfs/#{poste.file_name}.pdf") %>
                        <% else %>
                            <%= link_to poste.title, blog_show_article_path(:slug => poste.slug, :id => poste.id), class:"" %>
                        <% end %>
                    </h6>
                    
                    <p style="margin-bottom: 0;">
                        <%= poste.description %>
                    </p>
                    
                    <% if current_admin && poste.admin == current_admin %>
                        [<%= link_to "edit", "/blog/article/#{poste.id}/edit", class:"btn btn-link",
                            style: "color: #007bff !important;" %>] |
                        [<%= link_to "delete", blog_article_path(poste), class:"btn btn-link",
                            method: :delete, data: { alert: "are you sure?" }, style: "color: #007bff !important;" %>]
                    <% end %>
                </div>
            </li>
        <% end %>
    </ul>
<% else %>
    <h6>no posts yet</h6>
<% end %>