<section id="article">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <article>
                        <h5>
                            <a href="/category/<%= @article.category.name %>">
                                <span class="badge badge-primary">
                                    <%= @article.category.name %>
                                </span>
                            </a>
                        </h5>
                        
                        <h4>
                            <%= @article.title %>
                        </h4>
                        
                        <hr>
                        
                        <section class="article-metadata">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        <span style="float: left;">
                                            <%= @article.admin.full_name %>,
                                            <%= @article.created_at.strftime('%-m/%d/%Y') %>
                                        </span>
                                        
                                        <span style="float: right;">
                                            <%= render partial: "shared/share_buttons", locals: { object: @article } %>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </section>
                        
                        <figure class="article-banner">
                            <img src="https://image.businessinsider.com/5d692c692e22af0d94484477?width=600&format=jpeg&auto=webp"
                                alt="<%= @article.slug %>">
                            <figcaption>
                                <p class="text-muted">
                                    <%= "Courtesy John P. Doe" %>
                                </p>
                            </figcaption>
                        </figure>
                        
                        <section class="article-content">
                            <%= sanitize @article.content %>
                        </section>
                        
                        <hr>
                        
                        <section class="article-tags">
                            tagged: <% @article.each_tag do |t| %>
                                <a href="/tags/<%= t %>"><%= t %></a>
                            <% end %>
                        </section>
                        
                        <hr>
                    </article>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <h5>thoughts on this (<%= @article.comments.count %>)</h5>
                    <section id="comments">
                        <%= render partial: "comments/comments", locals: { comments: @article.comments } %>
                    </section>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <h4>related</h4>
            <hr>
        </div>
    </div>
</section>