<section id="article">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <article>
                        <h5>
                            <a href="/blog/category/<%= @article.category_name %>">
                                <span class="badge badge-primary">
                                    <%= @article.category_name %>
                                </span>
                            </a>
                            
                            <% if !@article.published %>
                                <span class="badge badge-warning">
                                    unpublished
                                </span>
                            <% end %>
                        </h5>
                        
                        <h5>
                            <%= @article.title %>
                        </h5>
                        
                        <hr>
                        
                        <section class="article-metadata">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>
                                        <span style="float: left;">
                                            <%= @article.admin.full_name %>,
                                            <%= @article.created_at.strftime('%-m/%d/%Y') %>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </section>
                        
                        <hr>
                        
                        <section class="article-content">
                            <%= sanitize @article.content %>
                        </section>
                        
                        <hr>
                        
                        <section class="article-tags">
                            tagged: <% @article.each_tag do |t| %>
                                <a href="/blog/tagged/<%= t %>">
                                    <span class="badge badge-info"><%= t %></span>
                                </a>
                            <% end %>
                        </section>
                        
                        <section id="article-share-buttons">
                            <%= render partial: "shared/share_buttons", locals: { object: @article.title } %>
                        </section>
                        
                        <hr>
                    </article>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <h5>thoughts on this (<%= @article.comments.count %>)</h5>
                    <section id="comments">
                        <%= render partial: "comments/comments", locals: { comments: @article.comments } %>
                    </section>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 related-posts-col">
            <h4>related</h4>
            <hr>
            <div>
                <%= render partial: "blog/articles/articles", locals: { posts: @related } %>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    let img = document.querySelector("img");
    img.setAttribute("width", "100%");
    img.setAttribute("height", "auto");
    
    let preBlocks = document.getElementsByTagName("pre");
    for (i in preBlocks) {
        pre = preBlocks[i];
        text = pre.innerHTML;
        code = document.createElement("code");
        code.innerHTML = text;
        pre.innerHTML = '';
        pre.appendChild(code);
    }
</script>