<% if posts.present? %>
    <p style="margin-bottom: 0; color: green;">
        <%= pluralize(posts.count, "post") %>
    </p>
    <% posts.each do |poste| %>
        <h6>
            <%= link_to poste.title, blog_article_path(poste), class:"" %>
        </h6>
        <div style="font-size: 15px;">
            <%= pluralize(poste.comments.count, "comment") %>
        </div>
        
        <% if current_admin && poste.admin == current_admin %>
            <%= link_to "edit", edit_blog_article_path(poste), class:"btn btn-secondary btn-sm not-thick" %> |
            <%= link_to "delete", blog_article_path(poste), class:"btn btn-danger btn-sm not-thick",
                method: :delete, data: { alert: "are you sure?" } %>
        <% end %>
        <hr>
    <% end %>
<% else %>
    <h6>no results found</h6>
<% end %>