<%= form_for([:blog, @article], :html => { :id => "article-form", :multipart => true }) do |f| %>
    <div class="field">
        <div class="row">
            <div class="col-md-2">
                <h5><%= f.label :title %></h5>
            </div>
            <div class="col-md-10">
                <%= f.text_field :title, id:"article-title", class:"form-control", placeholder: "article title" %>
            </div>
        </div>
    </div>
    
    <div class="field">
        <div class="row">
            <div class="col-md-2">
                <h5><%= f.label :image_link %></h5>
            </div>
            <div class="col-md-10">
                <%= f.text_field :image_link, id:"article-image_link", class:"form-control", placeholder: "article image link" %>
            </div>
        </div>
    </div>
    
    <div class="field">
        <div class="row">
            <div class="col-md-2">
                <h5><%= f.label :description %></h5>
            </div>
            <div class="col-md-10">
                <%= f.text_area :description, id:"article-description", class:"form-control",
                    placeholder: "article description", style: "height: 100px !important;" %>
            </div>
        </div>
    </div>
    
    <div class="field">
        <div class="row">
            <div class="col-md-2">
                <h5><%= f.label :content %></h5>
            </div>
            <div class="col-md-10">
                <%= f.text_area :content, id:"article-content", class:"form-control tinymce", placeholder: "article body" %>
            </div>
        </div>
    </div>
    
    <div class="field">
        <div class="row">
            <div class="col-md-2">
                <h5><%= f.label :tags %></h5>
            </div>
            <div class="col-md-10">
                <%= f.text_field :tags, id:"article-tags", class:"form-control", placeholder: "add tags, separated by a comma" %>
            </div>
        </div>
    </div>
    
    <div class="field">
        <div class="row">
            <div class="col-md-5 offset-md-2">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-block" type="button"
                        id="category-button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <% if @article.category_name %>
                            <%= @article.category_name %> <i class="fas fa-angle-down"></i>
                        <% else %>
                            select a category <i class="fas fa-angle-down"></i>
                        <% end %>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="category-button">
                        <% all_categories.each do |cat| %>
                            <a class="dropdown-item"
                                onclick="$('#category-button').text('<%= cat %>');
                                        document.querySelector('#category-name').value = '<%= cat %>';">
                                <%= cat %>
                            </a>
                        <% end %>
                    </div>
                </div>
            </div>
            
            <div class="col-md-5">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-block" type="button"
                        id="project-button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <% if @article.project %>
                            <%= @article.project.name %> <i class="fas fa-angle-down"></i>
                        <% else %>
                            select a project <i class="fas fa-angle-down"></i>
                        <% end %>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="project-button">
                        <% all_projects.each do |pro| %>
                            <a class="dropdown-item"
                                onclick="$('#project-button').text('<%= pro.name %>');
                                        document.querySelector('#project-id').value = '<%= pro.id %>';">
                                <%= pro.name %>
                            </a>
                        <% end %>
                    </div>
                </div>
            </div>
            
            <div class="col-md-5">
                <div class="dropdown">
                    <button class="btn btn-secondary btn-block" type="button"
                        id="series-button" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <% if @article.series %>
                            <%= @article.series.name %> <i class="fas fa-angle-down"></i>
                        <% else %>
                            select a series <i class="fas fa-angle-down"></i>
                        <% end %>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="project-button">
                        <% all_series.each do |s| %>
                            <a class="dropdown-item"
                                onclick="$('#series-button').text('<%= s.name %>');
                                        document.querySelector('#series-id').value = '<%= s.id %>';">
                                <%= s.name %>
                            </a>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
        <%= f.hidden_field :project_id, value: "#{@article.project_id}", id: "project-id" %>
        <%= f.hidden_field :series_id, value: "#{@article.series_id}", id: "series-id" %>
        <%= f.hidden_field :category_name, value: "#{@article.category_name}", id: "category-name" %>
        <%= f.hidden_field :published, id: "published", value: true %>
    </div>
    
    <hr>
    
    <div class="actions">
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-secondary btn-block" href="/blog">
                    cancel
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-info btn-block" onclick="saveAsDraft()">
                    save as draft
                </a>
            </div>
            <div class="col-md-4">
                <%= f.submit "publish article", class:"btn btn-success btn-block", data: { :disable_with => "publishing..." }  %>
            </div>
        </div>
    </div>
<% end %>
<%= tinymce %>

<script type="text/javascript">
    saveAsDraft = () => {
        document.querySelector("#published").value = false;
        let form = document.querySelector("#article-form");
        form.submit();
    }
</script>